.navbar {
    display: grid;

    grid-template-rows: 170px 1fr;

    grid-area: n;
    background-color: lavender;

}
.item {
    display: block;

    margin-top: 5%;
    color: darkcyan;
    text-decoration: none;
}

.item.active {
    color: darkgoldenrod;
}

.blockNavlink {
    margin: 0 auto;
}

.sidebar {
    margin: 7px auto;

}

.friend {
    display: inline-block;
    margin: 0px 10px;
}

.friend img {
    width: 25px;
    height: 25px;
    border-radius: 15px;
}