.dialogsContainer {
    display: grid;
    grid-template-columns: 3fr 7fr;
}

.item {
    display: block;
    padding: 10px;
    text-decoration: none;

}

.item.active {
    color: coral;
}

.message {
    padding-top: 10px;
    color: darkgray;
}